@model List<ContatoModel>
@{
    ViewData["Title"] = "Listagem de Contatos";
}


 

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
 <script>

    function abrirPopup(id, nome) {
        
        document.getElementById('idParaExcluir').value = id;
        document.getElementById('input_texto_contato').textContent = "Deseja realmente apagar o contato ("+nome+")?";
        

         $('#popUpApagar').modal('show');

         
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.addEventListener('hide.bs.modal', function (event) {
            if (document.activeElement) {
                document.activeElement.blur();
            }
        });
    });

 </script>


<div class="text-center">

    @if (TempData["MessageText"] != null)
    {
        var msg = TempData["MessageText"];
        var type = TempData["MessageType"];

        <script>
            window.onload = function () {
                ModalDialog('@type', '@msg');
            };
        </script>
    }

    <h1 class="display-4"  >Listagem de Contatos</h1>
    
    <div class="text-center">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Criar">Adicionar</a>

    </div>
    <div id="hiddenApagar"></div>
    <table id="dtgDados" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Celular</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>

        @if (Model != null && Model.Any())
        {
            foreach(ContatoModel contato in Model)
            {
                <tbody>
                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Celular</td>
                        <td>
                            <div class="btn-group" role="group" >
                                <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Editar" asp-route-id="@contato.Id">Editar</a>
                                <button role="button" class="btn btn-danger" onclick="javascript:abrirPopup(@contato.Id,'@contato.Nome');">Apagar</button>
                            
                            </div>
                        </td>
                    </tr>
                </tbody>
            }
        }
    </table>
</div>

@Html.Partial("_popUpApagar")