@model List<ContatoModel>
@{
    ViewData["Title"] = "Listagem de Contatos";
}


 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div class="text-center">

   @await Component.InvokeAsync("Message")


    <h1 class="display-4"  >Listagem de Contatos</h1>
    
    <div class="text-center">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Criar">Adicionar</a>

    </div>
    <div id="hiddenApagar"></div>
    <table id="dtgDados" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Celular</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
        @if (Model != null && Model.Any())
        {
            foreach(ContatoModel contato in Model)
            {
            
                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Celular</td>
                        <td>
                            <div class="btn-group" role="group" >
                                <a role="button" class="btn btn-primary" asp-controller="Contato" asp-action="Editar" asp-route-id="@contato.Id">Editar</a>
                                <button role="button" class="btn btn-danger" onclick="javascript:abrirPopupContato(@contato.Id,'@contato.Nome', 'Contato');">Apagar</button>
                            
                            </div>
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr class="odd">
                    <td valign="top" colspan="5">Nenhum contato encontrado</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("_popUpApagar")